/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');

* {
  letter-spacing: 0.5px;
  box-sizing: border-box;
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  
}

/* button class */
.btn {
  font-size: 100%;
  padding: 1.55% 4%;
  outline: none;
  border: none;
  border-radius: 2px;
  background: none;

}
.input-error{
  font-size: 70%;
  color: #DB4437;
  margin-top: 0px;
  padding-top: 0;
}
/* alert */
.alert{
  font-size: 120%;
  min-height: 100%;
  padding: 2% 7%;
  border-radius: 2px;
  margin: 50px 0px;
  color: #444448;
}
.alert-success{
  background: #0F9D58;
  
}

.alert-danger{
  background: #DB4437;
  
}


/* container digsin */
.container {
  border: 1px solid #D6D5D6;
  min-height: 100%;
  text-align: center;
  width: 96%;
  border-radius: 2px;
  padding: 10px;
  z-index: -1;
 
  margin: 0px auto;
  margin-top: 15px;
  margin-bottom: 5px;
}

.container-f {

  height: 100%;
  min-height: 100%;
  min-width: 90%;
  margin: 20px auto;
  margin-top: 20px;
  width: 100%;
  border-radius: 2px;
  padding: 10px;
  z-index: -1;

  text-align: center;

}
/* direction control */

.left{
    font-size: 100%;
    margin-top: 1px;
    width: 60%;
    text-align: left;
    margin: auto;
}

.middle {
  text-align: center;
}
/* button color combiniation */


.btn-primary {
  /*border: 1px solid #4285FA;*/
  background: #4285FA;
  color: white;
}

.btn-primary:hover {
  transition: all 0.6s ease;
  background: #4285FA;
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(1, 2, 225, 0.25);
}

.btn-success {
  border: 1px solid #0F9D58;
}

.btn-success:hover {
  transition: all 0.6s ease;
  background: #0F9D58;
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(1, 225, 0, 0.25);
}

.btn-danger {
  border: 1px solid #DB4437;
}

.btn-danger:hover {
  transition: all 0.6s ease;
  background: #DB4437;
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(225, 2, 0, 0.25);
}

/* margin class */
/* y-axis margin */
.my-4 {
  margin: 10px 0px;
}

.my-2 {
  margin: 5px 0px;
}

/* x-axis margin */
.mx-4 {
  margin: 0px 10px;
}

.mx-2 {
  margin: 0px 5px;
}

/* padding class */
/* Y-axis padding */
.py-4 {
  padding: 10px 0px;
}

.py-2 {
  padding: 5px 0px;
}

.px-4 {
  padding: 0px 10px;
}

.px-2 {
  padding: 0px 5px;
}

/* all direction padding */
.p-all {
  padding: 2% 4%;
}

/* input tag style */
.form-control {
  font-size: 100%;
  width: 60%;
  border: 1px solid #A3A3A3;
  padding: 1.8%;
  padding-left: 3%;
  border-radius: 2px;
  outline: none;
  color: #717172;
}

.form-control:focus {
  transition: all 0.6s ease;
  box-shadow: 0 0 0 0.2rem rgba(13, 20, 225, 0.25);
}

.text {
  width: 100%;
  min-width: 100%;
  color: #505050;
}

.link {
  width: 100%;
  min-width: 100%;
  font-weight: bold;
  color: #4285FA;
}

/* headings class */
.lg-heading {
  line-height: 24px;
  letter-spacing: 0.8px;
  width: 100%;
  min-width: 100%;
  color: #505050;
  font-weight: bolder;
  font-size: 150%;
}

.is-invalid {
  font-size: 100%;
  width: 60%;
  padding: 1.8%;
  padding-left: 3%;
  border-radius: 2px;
  outline: none;
  margin-bottom: 0;
  color: #717172;
  border: 1px solid #DB4437;
   !important
}
.is-invalid:focus{
  color: #BD4437;
  transition: all 0.6s ease;
  box-shadow: 0 0 0 0.2rem rgba(225, 2, 0, 0.25);
}
.error-feedback {
  font-size: 70%;
  color: #DB4437;
  margin-top: 1px;
  width: 60%;
  text-align: left;
  margin: auto;
}
.right {
  font-size: 100%;
  margin-top: 1px;
  width: 40%;
  text-align: right;
  margin: auto;
  
}
.x-scroll{
  overflow-x: scroll;
}
.inline{
  display: flex;
  padding: 3% 12%;
  
}
.text-center {
  text-align: center;
}
/* image */
.avatar{
  width: 20%;
  height: 20%;
  border: 1px solid #A0A0A4;
  border-radius: 50%;

}
.label{
  display: block;
  width: 60%;
  color: #3C3D47;
  font-weight: bold;
  margin-bottom: 0.8%;
}
.file-uploade{
  padding: 12px;
  display: inline;
}
.block{
  display: block;
  font-size: 60%;
}