{% extends 'base.html' %}
{% block content %}
  <div class="container-bn">
    
     <div class="my-4 left">
       <button class="btn btn-primary">
         <a href="{{ url_for('blog.write')}}" >Write Post</a>
       </button>
     </div>
     {% for post in user.posts %}
               <div class="container-b inline">
      <p class="left">{{ post.title }}</p>
      <a href="{{url_for('blog.delete_post',id =post.id )}}"><img class="crud-image mx-2" src="{{ url_for('static',filename='image/blog/delete.png')}}" alt="" /></a><a class="" href="/"><img class="crud-image mx-2" src="{{ url_for('static',filename='image/blog/edit.png')}}" alt="" /></a>
    </div>
      {% endfor %}
   
  </div>
{% endblock %}