{% extends 'base.html' %}
{% block content %}
<div class="container-f">

  <div class="container-bn">
    <h3 class="lg-heading">Write Post</h3>
<form method="POST" action="">
     <div class="my-4">
      <input placeholder="Post Title"class="title"type="" name="title" id="" value=""/>
     </div>
     <div class="my-4">
      <textarea placeholder="Post Content"class="textarea"name="content" id= rows="8" cols="40"></textarea>
     </div>
     <div class="left">
       <button class="btn btn-primary ">Post</button>
     </div>
    </form>
  </div>
 </div>
{% endblock %}